*{
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/*----- main header section-----*/
.header{
  min-height: 100vh;
  width: 100%;
  background-color: lightblue;
  background-position: center;
  background-size: cover;
  position: relative;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  padding: 10px;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
}
.nav-links ul li a:hover{
  font-weight: 900;
}
.nav-links ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background: #353f5e; 
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.dropdown-content{
  display: none;
  position: absolute;
  min-width: inherit;
  z-index: 1;
}
.dropdown-content a{
  padding: 12px;
  text-align: left;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
 font-weight: 900;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 72px;
  text-shadow: 2px 2px #353f5e;
}
.text-box h2{
  font-size: 40px;
}
.text-box p{
  margin: 10px 0 40px; 
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
  color: #fff
}
.socials p#line{
  color: #353f5e;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.socials p{
  color: #fff;
  line-height: 2px;
  margin-top:0;
  margin-bottom: 0;
  text-align: center;
  font-size: 20px;

}
.icon a{
  background: transparent;
  display: in-line;
  align-items: center;
  color: #fff;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
}
nav .fa{
  display: none;
}

/*----- footer -----*/
.footer p{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer .fa-copyright{
  color: #777;
}

/*----- adjustment for smaller screen -----*/
@media (max-width: 700px){
  .text-box h1{
    font-size: 30px;
    padding-left: 150px;
    padding-right: 80px;
    text-align: left;
  }
  .text-box h2{
    font-size: 17px;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 80px;
    text-align: left;
  }
  .text-box p{
    font-size: 17px;
    padding-left: 150px;
    padding-right: 20px;
    text-align: left;
  }
  .socials p#line{
    position: relative;
  }
  .socials p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-align: left;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul li{
    display: block;
    right: 15px;
    position: relative;
  }
  .nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #fff; 
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links{
    position: absolute;
    background: #353f5e;
    height: 100vh;
    width: 160px;
    top: 0; 
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links ul{
    padding: 15px;
  }
  .dropdown-content{
    position: relative;
  }
  h1{
    font-size: 36px;
    font-weight: 600;
  }
  p{
    font-size: 8px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
}

/*----- home: about me-----*/
.about{
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.about-row{
  margin-top: 5%;
  display: flex;
}
.about-col{
  flex-basis: 40%;
  padding: 20px 50px;
}
.about-col h1{
  padding-top: 0;
  text-align: left;
}
.about-col p{
  padding: 15px 2px 25px;
  font-size: 18px;
  text-align: left;
}
.about-col img{
  float: left;
  padding-left: 60px;
  max-width: 100%;
  width: inherit;
}
.resume{
  display: inline-block;
  text-decoration: none;
  color: #777;
  border: 1px solid #777;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.resume:hover{
  border: 1px solid #777; 
  background: rgb(175, 175, 175);
  transform: 1s;
}

/*----- home: pics -----*/
.pic p{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
}
.pic{
  width:90%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.row{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.pic-col{
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative; 
  overflow: hidden;
}
.pic-col img{
  width: 100%
}

/*----- project: background -----*/
#background .projectRow{
  margin-top: 5%;
  display: flex;
}
#background .projectCol-L{
  max-width: 70%;
}
#background h1{
  text-align: left;
  margin-left: 30px;
}
#background p{
  display: flex;
  text-align: left;
  font-size: 18px;
  margin-left: 22px;
}
#background .slider{
  margin-right: auto;
  width: 300px;
  height: 400px;
  overflow: hidden;
  padding-top: 20px;
}
.slides{
  width: 300%;
  max-height: inherit;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  overflow-x: hidden;
  transition: 2s;
}
.slides img{
  overflow-x: hidden;
  text-align: center;
  width: 300px;
  height: 400px;
}
/*----- project: background (manual) -----*/
.nav-manual{
  width: inherit;
  position: absolute;
  margin-top: -30px; 
  display: flex;
  justify-content: center;

}
.manual-btn{
  width: 50px;
  height: 8px;
  outline: solid #fff;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 20px;
}
.manual-btn:hover{
  background: #fff;
}
#radio1:checked ~ .first{ 
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -33.5%;
}
/*----- project: background (automatic) -----*/
.nav-auto{
  position: absolute;
  display: flex;
  width: 300px;
  justify-content: center;
  margin-top: 374px;
}
.nav-auto div{
  width: 50px;
  height: 8px;
  outline: solid #fff;
  transition: 1s;
}
.nav-auto div:not(:last-child){
  margin-right: 20px;
}
#radio1:checked ~ .nav-auto .auto-btn1{
  background: #fff;
}
#radio2:checked ~ .nav-auto .auto-btn2{
  background: #fff;
}

@media(max-width: 1110px){
  #background .projectRow{
    margin-top: 5%;
    width: 100%;
  }
  #background .projectCol-L{
    width: 100%;
  }
  #background .slider{
    display: none;
  }
}
/*----- project: process -----*/
#process{
  margin-top: 5%;
  margin-left: 30px;
}
#process h1{
  text-align: left;
}
#process h2{
  padding-top: 10px;
  margin-left: 10px;
}

/*----- project: results -----*/
#results{
  margin-top: 5%;
  margin-left: 30px;
}

/*----- baking -----*/
.bakingText h1{
  margin-bottom: 2%;
}
.bakingText p{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.719);
  margin-top: 0;
  margin-bottom: 0;
}
.bakingGallery .row{
  width: 50%
}


